[Unit]
Description=ShardCore service
After=network.target mongod.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jenkins
WorkingDirectory=/var/lib/jenkins/jobs/shardcore/workspace
ExecStart=/var/lib/jenkins/jobs/shardcore/workspace/run

[Install]
WantedBy=multi-user.target
