/* Core style for ShardBytes */

/* backgrounds */

.bg-darkblue{
  background-color: #1d1d1f;
}

.bg-darkerblue{
  background-color: #171718;
}

/* text */

.big{
  font-size: 110%;
}

.bigger{
  font-size: 120%;
}

.mallana{
  font-family: 'Mallanna', sans-serif;
}

.text-aquamarine {
  color: #2cffdf;
}

/* CUSTOM BUTTONS */

.btn-outline-aquamarine {
  color: #2cffdf;
  border-color: #2cffdf;
}

.btn-outline-aquamarine:hover {
  color: #171718;
  background-color: #2cffdf;
}
