.bg-darkblue{
  background-color: rgb(40, 44, 52);
}

.bg-darkerblue{
  background-color: rgb(33, 37, 43);
}

.big{
  font-size: 110%;
}

.bigger{
  font-size: 120%;
}

.mallana{
  font-family: 'Mallanna', sans-serif;
}
