.bg-darkblue{
  background-color: #1d1d1f;
}

.bg-darkerblue{
  background-color: #171718;
}

.text-aquamarine {
  color: #2cffdf;
}

.big{
  font-size: 110%;
}

.bigger{
  font-size: 120%;
}

.mallana{
  font-family: 'Mallanna', sans-serif;
}
