<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  
  <!-- include corehead -->
  <div th:replace="templates/corehead :: corehead"/>

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="/assets/lib/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/assets/lib/toast/android_toast.min.css" type="text/css">
  <link rel="stylesheet" href="style.css">

  <!-- SCRIPTS -->
  <script src="/assets/lib/toast/android_toast.min.js"></script>
  <script src="/assets/lib/scrollTo/jquery.scrollTo.min.js"></script>
  <script src="/assets/lib/fancybox/jquery.fancybox.min.js"></script>

</head>

<body class="bg-darkblue">

  <!-- include navbar -->
  <nav th:replace="templates/corenavbar"/>

  <div id="bigimage" class="bg"></div>

  <div id="maincontent" class="container text-light">

    <p> random number = <span th:text="${randomNumber}"/> <--- what is this @Plasmoxy? <--- its a template engine faggot @Plajdo </p>

    <p class="text-light mallana bigger">
      We are a group of programmers from Slovakia and we try our best to make
      interesting applications, ranging from games to enterprise software.
    </p>
    <br>

    <h1 class="text-light mallana">
      Check out our products:
    </h1>

    <h4 class="text-light mallana">
      A Light in the Void
    </h4>

    <a href="https://dummyimage.com/600x400/000/00ff2b.png" data-fancybox="alitv" data-caption="A Light in the Void #1">
      <img src="https://dummyimage.com/100x67/000/00ff2b.png" alt=""/>
    </a>

    <a href="https://dummyimage.com/600x400/000/ffae00.png" data-fancybox="alitv" data-caption="A Light in the Void #2">
      <img src="https://dummyimage.com/100x67/000/ffae00.png" alt=""/>
    </a>

    <p class="text-light mallana big">
      Android(soon) and Browser game written in Java and HTML5 where you have
      to destroy your enemies and get the last star.
    </p>
    <br>

    <h4 class="text-light mallana">
      Library Book Scanner
    </h4>

    <a href="https://dummyimage.com/600x400/000/00ff2b.png" data-fancybox="lbs" data-caption="Library Book Scanner #1">
      <img src="https://dummyimage.com/100x67/000/00ff2b.png" alt=""/>
    </a>

    <a href="https://dummyimage.com/600x400/000/ffae00.png" data-fancybox="lbs" data-caption="Library Book Scanner #2">
      <img src="https://dummyimage.com/100x67/000/ffae00.png" alt=""/>
    </a>

    <p class="text-light mallana big">
      A simple book managing database software, that shows you who has which
      book in a simple interface.
    </p>
    <br>

    <h4 class="text-light mallana">
      Kešuľap Timer
    </h4>

    <a href="https://dummyimage.com/600x400/000/00ff2b.png" data-fancybox="kt" data-caption="Timer #1">
      <img src="https://dummyimage.com/100x67/000/00ff2b.png" alt=""/>
    </a>

    <a href="https://dummyimage.com/600x400/000/ffae00.png" data-fancybox="kt" data-caption="Timer #2">
      <img src="https://dummyimage.com/100x67/000/ffae00.png" alt=""/>
    </a>

    <p class="text-light mallana big">
      One of our two timer apps, that we made as a request from someone.
    </p>
    <br>

    <h4 class="text-light mallana">
      Hello, cruel world
    </h4>

    <a href="https://dummyimage.com/600x400/000/00ff2b.png" data-fancybox="hcw" data-caption="Hello, cruel world #1">
      <img src="https://dummyimage.com/100x67/000/00ff2b.png" alt=""/>
    </a>

    <a href="https://dummyimage.com/600x400/000/ffae00.png" data-fancybox="hcw" data-caption="Hello, cruel world #2">
      <img src="https://dummyimage.com/100x67/000/ffae00.png" alt=""/>
    </a>

    <p class="text-light mallana big">
      Our first (and probably last) attempt at making a game in Unity engine.
    </p>
    <br>
  </div>

  <script src="scroll.js"></script>

</body>
</html>
