.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body, html{
  height: 100%;
  margin: 0;
}

body {
  margin-top: 50px;
}

.bg{
  background-image: url("/assets/img/transplanet_cut_black.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

